PORT=
MONGODB_URI=
JWT_SECRET=
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback
CLIENT_URL=
SESSION_SECRET=
ADMIN_EMAIL=
RESEND_API_KEY=
